[Unit]
Description=RbP Babyphone Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/sender.sh
Type=forking
WatchdogSec=2s
Restart=on-failure

[Install]
WantedBy=multi-user.target
